@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Lato&family=Roboto+Slab:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-image: url("../imagens/ceu_estrealdo1.jpg");
    border-radius: 100%;
    font-size: Arial, Helvetica, sans-serif;
    margin: auto;
}

#loading {
    align-items: center;
    text-align: center;
    margin: auto;;
}

.title {
    font-family: 'Dongle', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: blue;
    text-align: center;
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em; 
    margin-top: 40px;
    margin-bottom: 40px;  
    min-width: 250px; 
    max-width: 70%; 
    padding-left: 10px;
    padding-right: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    min-width: 520px;
}

.menu {
    background-color: #F76419;
    margin: 2px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
}

.menu:hover{
    font-weight: bold;
    background-color: blue;
    text-decoration: dashed;
}

ul {
    display: block;
    color: white;
    font-family: 'Dongle', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: blue;
    height: auto;
    width: 14em;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: left;
    align-items: center;
    border: 50%;
    size: 20px;
    font-size: 100%;
    list-style-position: inside;
    flex-wrap: wrap;
    padding: 10px;
}

p {
    font-family: 'Dongle', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    background-color: blue;
    color: white;
    height: auto;
    width: 14em;
    margin: auto; 
    padding: 10px;
    border-radius: 5px;
}

.resumo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 70%;
    flex-wrap: wrap;
}

.sobre {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

div {
    text-align: center;
    align-items: center;
    margin: auto;
    min-width: 100px; 
    max-width: 70%; 
}
.program {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.tools {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

/*tools*/
svg#freepik_stories-mind-map:not(.animated) .animable {opacity: 0;}svg#freepik_stories-mind-map.animated #freepik--Character--inject-110 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}svg#freepik_stories-mind-map.animated #freepik--mind-map--inject-110 {animation: 3.0s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,3s Infinite  linear floating;animation-delay: 0s,3s;}            @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }            }                    @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }
.contato{
    max-width: 100%;
}

.certificacao {
    display: flex;
    flex-wrap: wrap;
}

/*certificado*/
svg#freepik_stories-certification:not(.animated) .animable {opacity: 0;}svg#freepik_stories-certification.animated #freepik--Plant--inject-3 {animation: 2.8s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,3s Infinite  linear floating;animation-delay: 0s,2.8s;}            @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }            }                    @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }        .animator-hidden { display: none; }

object {
    width: 400px;
    height: 330px;
    margin: auto;
}

img {
    margin: auto;
    width: 30%;
    height: 30%;
    display: block; 
    margin-right: auto;
}

.img-div {
    min-width: 270px;
}

svg {
    min-width: 270px;
    width: 30%;
    height: 30%;
    display: block;
    margin: auto; 
    min-width: 270px;
}

/*program*/
svg#freepik_stories-deconstructed-robot:not(.animated) .animable {opacity: 0;}svg#freepik_stories-deconstructed-robot.animated #freepik--background-simple--inject-55 {animation: 2.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,3s Infinite  linear floating;animation-delay: 0s,2.9s;}svg#freepik_stories-deconstructed-robot.animated #freepik--code-2--inject-55 {animation: 2.7s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,3s Infinite  linear floating;animation-delay: 0s,2.7s;}svg#freepik_stories-deconstructed-robot.animated #freepik--code-1--inject-55 {animation: 2.9s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,3s Infinite  linear floating;animation-delay: 0s,2.9s;}            @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }            }                    @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }        .icons {
    display: inline;
    width: 3em;
    height: 3em;
    margin: 4px;
}

nav{
    text-align: center;
    margin: 2em;
}

a {
    color: white;
    text-decoration: none;  
    align-items: center; 
    padding: 10px;
}

/*Foguete*/
svg#freepik_stories-rocket:not(.animated) .animable {opacity: 0;}svg#freepik_stories-rocket.animated #freepik--Smoke--inject-20 {animation: 3s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-rocket.animated #freepik--Rocket--inject-20 {animation: 3s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-rocket.animated #freepik--Stars--inject-20 {animation: 3s Infinite  linear floating;animation-delay: 0s;}            @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }  

/*astronauta*/
svg#freepik_stories-innovation:not(.animated) .animable {opacity: 0;}svg#freepik_stories-innovation.animated #freepik--Clock--inject-41 {animation: 6s Infinite  linear spin;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--gears-2--inject-41 {animation: 6s Infinite  linear spin;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--location-symbol--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--robotic-arm--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--Mobile--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--Box--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--Character--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--light-bulb--inject-41 {animation: 2.8s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn,6s Infinite  linear floating;animation-delay: 0s,2.8s;}svg#freepik_stories-innovation.animated #freepik--gears-1--inject-41 {animation: 6s Infinite  linear floating;animation-delay: 0s;}         @keyframes spin {             from {                 transform: rotate(0);               }               to {                 transform: rotate(360deg);               }         }                 @keyframes floating {                0% {                    opacity: 1;                    transform: translateY(0px);                }                50% {                    transform: translateY(-10px);                }                100% {                    opacity: 1;                    transform: translateY(0px);                }            }                    @keyframes fadeIn {                0% {                    opacity: 0;                }                100% {                    opacity: 1;                }            }

i {
    color: white;
    font-size: 3em;
    margin: 4px;
}
/*#F76419*/

